<style>
.card {
    width: 100% !important;
}
</style>
<div class="ui three column grid doubling stackable" style="margin-top:30px;padding:5px;">
    <div class="column" ng-repeat="activity in activitys">
        <div class="ui special cards">
            <div class="card">
                <!-- <div class="content">
                    <img ng-src="{{ activity.authavatar }}" class="ui avatar image" alt="">{{ activity.auth }}
                </div> -->
                <div class="blurring dimmable image">
                    <div class="ui dimmer">
                        <div class="content">
                            <a ui-sref="activity_detail({activity_id:activity.id})">
                                <div class="center">
                                    {{ activity.title }}
                                </div>
                            </a>
                        </div>
                    </div>
                    <div ng-style="{'background-image':'url({{ activity.image_url }})'}"style="height: 300px; background-position:center;background-size:cover;"></div>
                    <!-- <img ng-src="{{ activity.image_url }}"> -->
                </div>
                <div class="content">
                    <label class="header">參加人數：{{ activity.member }}</label>
                </div>
                <div class="extra content">
                    <span class="date">Create at {{ activity.start_at }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
